/*

DIT IS ALLEEN OMDAT ANDERS ALLES WEER DOOR ELKAAR GAAT
GROETJES MAX.



*/
/* 
    Created on : Jun 16, 2015, 3:58:25 PM
    Author     : Max
*/

.parkeerplaats{
    position: absolute;
    right: 15em;
    
}

.GarageVakE{
    position: absolute;
    top: 2em;
    left: 22em;
    
}