/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2015, 1:06:03 PM
    Author     : Thijs
*/
@font-face {
    font-family: Titel;
    src: url('Fonts/KrinkesRegularPERSONAL.ttf');
}
html {
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background: url(./Images/walpaper.jpg)no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%; 
}
#scrollableBody{
    width: 600%;
}

.panel { 
    width: 930px; 
    float: left; 
    padding-left: 30px; 
    padding-right: 1040px; 
}
#header {
    width: 102%;  
    height: 2em;
    font-family: Titel;
    font-size: 40px;
    float: top;
    background-color: #555555;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    opacity: 0.7;
    position: fixed; 
    top: 0em;
    left: -1em;
    line-height: 45px; 
    margin: 0 1em;
} 

#header h1 {
    position: relative; left: 30px;
    top: -0.3em;
    padding-bottom: 0em;
}
#header .login {
    position: relative; top: -130px; left: -50px;   
    float: right;
}

.navbar{   
    position: absolute;
    left:0%; top: 2em;
    width: 100%;
    height: 30px;
    background-color: #555555;
    opacity: 0.8;
}
.navForm{
    position: absolute;
    top: -6px;
    width: 100%;
    height: 30px;
    display: table;
    margin: 0px;
    padding: 0px;
}
.navbutton{
    width: 25%;
    display: table-cell;
    background: #2b2b2b;
    color: #ffffff;
    border-color: #2b2b2b;
    height:30px;
}
.navbutton5{    
    width: 16.666%;
    display: table-cell;
    background: #2b2b2b;
    color: #ffffff;
    font-size: 15px;
    border-color: #2b2b2b;
    height:30px;
    margin: 0px;
}
.navbuttonmonteur{    
    width: 33.333%;
    display: table-cell;
    background: #2b2b2b;
    color: #ffffff;
    font-size: 15px;
    border-color: #2b2b2b;
    height:30px;
}
.navbuttonmonteurHS{    
    width: 60%;
    display: table-cell;
    background: #2b2b2b;
    color: #ffffff;
    font-size: 15px;
    border-color: #2b2b2b;
    height:30px;
}
.navbutton:hover{
    opacity: 1.0;
    background: #4e4e4e;
}
.navbutton5:hover{
    opacity: 1.0;
    background: #4e4e4e;
}
.navbuttonmonteur:hover{
    opacity: 1.0;
    background: #4e4e4e;
}
.navbuttonmonteurHS:hover{
    opacity: 1.0;
    background: #4e4e4e;
}

#register {
    position: relative; left: 80em;
    top: 10em;
    width: 27em;
}
.reg{
    font-family: Arial;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #555555;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    opacity: 0.8;  
    padding: 2em;
}

#register h2{
    font-family: Arial;
    font-size: 2em;
    position: relative; left: 3.5em;
    padding-top: -5em;
    padding-bottom: -1em;
}
#register .labels {
    position: relative; float:left;
    font-family: Arial;
    font-size: 18px;
    padding-right: 7px;    

}
#register .inputs {
    text-align: center;

}
#infobar {
    position: relative; 
    float: bottom; 
    top: 80em;
    left: -1%;
    background-color: #ffffff;
    width: 18%;
    height: 5em;
    opacity: 0.7;
}
.inputs {
    font-family: Arial;
    font-style:oblique;
}
#infobar{
    font-family: Arial;
    font-size: 1em;
    font-style: italic;
    text-align: center;    
    position: relative; top: 20em;
}
#infobar .informatie{
    position: relative; top: 3em;
}
.error {
    width: 20em;
    position: relative; left: 40em; top: -7.5em;
    font-family: Arial;
    font-size: 0.5em;
    color: #ffffff;
    opacity: 0.8;
}
.errormessage {
    font-family: Arial;
    font-size: 1em;
    color: #ffffff;
}

#KlantGegevens{
    position: relative; left:10%;
    top: 20%;
}
#AutoGegevens{
    position: relative; left:100%;
    top: -31.5em;
}
.autotabel{
    position: relative; left: 50%; 
    font-size: 18px;
}
.autotabelrow{
    border: 1px;
}

#klantgegevensform{
    position: relative; left: 15%;
    width: 27em;
    font-size: 18px;
}

.klantgegevenstable{
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #a2a2a2;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    opacity: 0.8;  
    padding: 2em;
    margin-bottom: 2em;
    width: 30em;
}
.opslaanbutton{
    position: relative; left: 85%;
}

#main {
    font-family: Arial;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #555555;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    padding: 2em;
    position: absolute; top: 20%; left: 30%;
    width: 25em;
    height: 35em;
    opacity: 0.9;
}
#mainmonteur {
    font-family: Arial;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #555555;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    padding: 2em;
    position: relative; top: 20%; left: 37.5%;
    width: 25em;
    height: 35em;
    opacity: 0.9;
}

#factuuraanmaken{
    font-family: Arial;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #555555;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    padding: 2em;
    position: absolute; top: 20%; left: 60%;
    width: 25em;
    height: 35em;
    opacity: 0.9;
}

#main2 {
    font-family: Arial;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #555555;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    padding: 2em;
    position: relative; top: 20%; left: 20%;
    width: 30em;
    height: 35em;   
    opacity: 0.9;
}
#main3 {
    font-family: Arial;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #555555;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    padding: 2em;
    position: relative; top: 20%; left: 60%;
    width: 30em;
    height: 35em;
    opacity: 0.9;
}
#main4 {
    font-family: Arial;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #555555;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    padding: 2em;
    position: relative; top: 20%; left: 20%;
    width: 50em;
    height: 35em;
    opacity: 0.9;
}
.hswerkzaamheden {
    position: relative; left: 4em; top: 6.5em;    
}
.hswerkzaamheden button{
    margin: 20px;
}


.parkeerplaats{
    position: relative;
    left: 80em;

}

.GarageVakE{
    position: relative;
    left: 22em;
    top: -22em;
}

.content{
    position: relative;
    top: 8em;
}
.homepageATDinfo{
    position: relative; left: 20em;
    top: 1em;
    width: 30em;
    font-family: Arial;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #a2a2a2;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    opacity: 0.9;  
    padding: 2em;
}
.homepageKlantInfo{
    position: relative; left: 60em;
    width: 30em;
    top: -23.5em;
    font-family: Arial;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #a2a2a2;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    opacity: 0.9;  
    padding: 2em;
}

.tabelDiv{
    position: relative; left: 10em; 
    font-family: Arial;
    display: inline-block;
    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    background-color: #a2a2a2;
    -webkit-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    box-shadow: 7px 3px 23px -2px rgba(0,0,0,0.75);
    opacity: 0.9;  
    padding: 2em; 
}

#tabel{
    border-collapse: collapse;
}
#tabel .head{
    font-weight: bold;  
}
#tabel .info{
    border: 1px;
}
#tabel .info td{
    border: 1px solid black;
}
